#apptitle
{
	text-align: center;
}

#apptitle{
	color:white;
	font-family:Roboto;
	font-weight: lighter;
	letter-spacing: 10px;
}

.inputfield
{
	font-weight: 210;
}
#requestinfo
{
	text-align: center;
	position: relative;
	top:-0.5em;
	font-weight: lighter;
	color: white;
}

#info
{
	text-align: center;
	position: relative;
	top:5em;
	color:white;
}

html
{
	background: #009688;
}

#map
{
	z-index: 100;
}